@model List<_70KApps.Areas.OiNao.Models.OiNaoContact>
@{
    _70KApps.Areas.OiNao.Models.OiNaoContact initialContact = new _70KApps.Areas.OiNao.Models.OiNaoContact();    
    ViewData["Title"] = "Oi Nao";
}

<div class="container">
    <div class="row justify-content-center">
        <div class=col-12>
            <h1>Welcome to the Oi Nao!</h1>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-9">
            <input id="contactTableSearch" class="form-control" placeholder="Search..." />
        </div>
        <div class="col-3 text-end">            
            <button id="createNewButton" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#contactModal">Create New Contact</button>
        </div>
        <hr />
        <div class="col-12" id="contactTable">
            @Html.Partial("_contactTable", Model)
        </div>
        <hr />
        <div class="col-12 text-end">
            <button type="button" class="btn btn-success" onclick="resetContactTable()">Refresh Contacts</button>
        </div>
    </div>
</div>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Manage Contact</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="formModal">
                @Html.Partial("_ContactForm",initialContact)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#createNewButton").click(function(){
            $("#btnClear").click()
        })

        $("#contactTableSearch").keyup(function(){
            var search_val = $(this).val();
            console.log(search_val)
            if(search_val === ""){
                $("#OiNaoContactTable tbody tr").removeClass("collapse")
                console.log("Equals empty")
                return;

            } else {
                $("#OiNaoContactTable tbody tr").each(function(){                   

                    if($(this).html().indexOf(search_val)>0){
                        console.log($(this).html().indexOf(search_val))
                        $(this).removeClass("collapse")
                    } else {
                        $(this).addClass("collapse")
                    }

                })
            }            

        })

        console.log("Ready!")
    })

    function resetContactTable(){
        $.ajax({
            url: "../OiNao/Home/ResetContactTable",
            success: function(result){
                $("#contactTable").html(result);
            }
        })
    }
</script>