@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome to the 70k Apps Suite</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3></h3>
        </div>
        <div class="col-12">
            <h3>App Quick Access</h3>
            <a class="btn btn-secondary w-100" asp-area="OiNao" asp-controller="Home" asp-action="Index">Go to Oi Nao</a>
        </div>
    </div>
</div>