@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <a class="btn btn-secondary" asp-area="OiNao" asp-controller="Home" asp-action="Index">Go to Oi Nao</a>
</div>